In [32]:
import json 

file_path = 'data.json'

# Đọc tệp JSON và chuyển đổi thành từ điển
with open(file_path, 'r') as file:
    json_data = json.load(file)



# In ra từ điển đã chuyển đổi

In [33]:
import pandas as pd

for kq in json_data:
    kq['time'] = kq['time'].split(' ')[-1]
    kq['g2'] = ', '.join(kq['g2'])
    kq['g3'] = ', '.join(kq['g3'])
    kq['g4'] = ', '.join(kq['g4'])
    kq['g5'] = ', '.join(kq['g5'])
    kq['g6'] = ', '.join(kq['g6'])
    kq['g7'] = ', '.join(kq['g7'])
    
pd.DataFrame(json_data)

,time,db,g1,g2,g3,g4,g5,g6,g7
0,25-03-2024,16342,75754,"28913, 37346","86642, 45535, 81914, 94696, 52321, 96022","8692, 8838, 9702, 1399","7019, 7237, 7661, 94696, 52321, 96022","8692, 8838, 9702, 1399","8692, 8838, 9702, 1399"
1,24-03-2024,88274,06693,"53350, 57784","04071, 89897, 75341, 98348, 75312, 33461","9003, 5952, 0115, 9805","3069, 2189, 5874, 98348, 75312, 33461","9003, 5952, 0115, 9805","9003, 5952, 0115, 9805"
2,23-03-2024,59882,35161,"80009, 90230","27850, 78279, 76809, 32621, 30855, 65708","4114, 7900, 0301, 0473","6540, 7127, 8212, 32621, 30855, 65708","4114, 7900, 0301, 0473","4114, 7900, 0301, 0473"
3,22-03-2024,95371,07286,"23998, 54295","30927, 81184, 68459, 29360, 97671, 18598","3721, 6102, 6363, 6756","7582, 1471, 1256, 29360, 97671, 18598","3721, 6102, 6363, 6756","3721, 6102, 6363, 6756"
4,21-03-2024,81866,15018,"97738, 52425","46984, 39393, 23620, 45649, 07779, 32333","6001, 7698, 5879, 5739","2820, 0426, 8268, 45649, 07779, 32333","6001, 7698, 5879, 5739","6001, 7698, 5879, 5739"
...,...,...,...,...,...,...,...,...,...
78,03-01-2024,62495,61083,"88825, 25631","81244, 41936, 65835, 18119, 78762, 30466","7275, 3934, 7969, 3310","1198, 2132, 6734, 18119, 78762, 30466","7275, 3934, 7969, 3310","7275, 3934, 7969, 3310"
79,02-01-2024,10956,44230,"11435, 21121","29001, 29348, 14423, 05075, 13469, 49804","3705, 3839, 0998, 9020","1408, 5422, 2848, 05075, 13469, 49804","3705, 3839, 0998, 9020","3705, 3839, 0998, 9020"
80,01-01-2024,42932,66272,"27370, 68541","55788, 04997, 82222, 02980, 83746, 18098","5667, 8086, 5934, 0473","1851, 1006, 0384, 02980, 83746, 18098","5667, 8086, 5934, 0473","5667, 8086, 5934, 0473"
81,31-12-2023,73758,80689,"75152, 42067","69905, 79800, 28338, 29736, 28168, 24917","3277, 9831, 1686, 1236","2848, 6743, 8909, 29736, 28168, 24917","3277, 9831, 1686, 1236","3277, 9831, 1686, 1236"
82,30-12-2023,59380,24170,"49908, 46745","87619, 76344, 11483, 19853, 97310, 05180","8176, 5498, 2068, 1389","2264, 7126, 0265, 19853, 97310, 05180","8176, 5498, 2068, 1389","8176, 5498, 2068, 1389"